<div class="flex w-full justify-content-around pt-8">
  <div class="card flex justify-content-center">
    <p-chart 
      type="doughnut"
      [data]="data" 
      [options]="options"
      [responsive]="true"
      [width]="'45rem'"
    />
    <h1
      class="absolute top-50 mt-6"
    >
      {{ formatCurrency(total) }}
    </h1>
  </div>

  <div class="w-4 flex flex-column">
    <div class="flex gap-3 align-items-center mb-4">
      <h1>Expenses</h1>
      <p-button icon="pi pi-refresh" [rounded]="true" (onClick)="refresh()" />
    </div>

    <div class="flex flex-column gap-3 align-items-left">
      @for(category of pairList; track category.label){
        <li class="flex gap-3 align-items-center">
          <span 
            class="w-2rem h-2rem border-1 border-circle surface-border"
            [style.backgroundColor]="category.color"
          ></span>
          <p class="m-0 text-xl">{{ category.label }}</p>
        </li>
      }
    </div>
  </div>
</div>
