<p-toast position="bottom-right" />
<p-sidebar [(visible)]="sidebarVisible">
  <div class="flex flex-column justify-content-between min-h-full">
    <div class="flex flex-column gap-3">
      <h2>Welcome!</h2>
      <a 
        routerLink=""
      >
        <p-button
          icon="pi pi-home"
          iconPos="left"
          label="Home"
          [text]="true"
          severity="secondary"
          (onClick)="hideBar()"
        />
      </a>
      <a 
        routerLink="/history"
      >
      <p-button
        icon="pi pi-history"
        iconPos="left"
        label="History"
        [text]="true"
        severity="secondary"
        (onClick)="hideBar()"
      />
    </a>
    </div>

    <app-logout 
      class="text-center"
      (closing)="hideBar()"
    />
  </div>
</p-sidebar>

<!-- the bar itself -->
<div class="w-full flex justify-content-between px-5 py-2 align-items-center">
  <p-button 
    (onClick)="showBar()"
    icon="pi pi-bars"
    [text]="true"
    size="large"
  />

  <p-calendar [(ngModel)]="api.date" selectionMode="range" />

  <p-button 
    label="Add"
    severity="success"
    size="large"
    (onClick)="showDialog()"
  />
</div>


<div class="card flex justify-content-center">
  <p-dialog 
    header="Create an expense"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem', height: '25rem'}"
  >
    <div class="flex align-items-center gap-3 mb-3">
        <label for="title" class="font-semibold w-6rem">Title</label>
        <input pInputText id="title" class="flex-auto" autocomplete="off" [(ngModel)]="title"/>
    </div>
    <div class="flex align-items-center gap-3 mb-5">
        <label for="amount" class="font-semibold w-6rem">Amount</label>
        <p-inputNumber 
          id="amount"
          inputId="integeronly" 
          class="flex-auto"
          autocomplete="off"
          [style]="{width: '100%'}"
          [(ngModel)]="amount"
        />
    </div>
    <div class="flex align-items-center gap-3 mb-8">
      <label for="amount" class="font-semibold w-6rem">Category</label>
      <p-dropdown 
        [options]="categories" 
        [(ngModel)]="selectedCategory" 
        optionLabel="name"
        placeholder="Select a category" 
        class="flex-auto"
        [style]="{width: '100%'}"
      />
    </div>

    <div class="flex justify-content-end gap-2 mt-8 pt-4">
        <p-button label="Cancel" severity="secondary" (onClick)="visible = false" />
        <p-button label="Save" (onClick)="handleCreate()" />
    </div>
  </p-dialog>
</div>
